[submodule "team37-MobileApp"]
	path = team37-MobileApp
	url = https://github.com/IFMTYP-2019/team37-MobileApp.git
[submodule "team37"]
	path = team37
	url = https://github.com/IFMTYP-2019/team37.git
